/* common */
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* header */
header {
  background-color: #333;
  padding: 10px 0px;
  color: white;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  min-width: 350px;
  max-width: 1300px;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 5px;
  margin: 0px 5px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgba(255, 255, 255, 0.234);
  text-decoration: none;
}

/* main */
main {
  min-width: 350px;
  max-width: 1200px;
  margin: 0 auto;
}

/* section */
section {
  padding: 60px 0 0 0;
  text-align: center;
}

/* home section */
.home h1 {
  font-size: 2.5rem;
}

.home button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

/* about section */
.about .about-item {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}

.about .about-item img {
  width: 100%;
  margin: 0 auto;
}

.about .about-text li {
  line-height: 1.5rem;
}


.carrier-cards {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

/* project section */
.project-cards {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.card {
  background-color: #f4f4f4;
  margin: 10px;
  padding: 20px;
  width: 250px;
}

.card img {
  width: 90%;
  aspect-ratio: 2/1;
}

/* skills section */
.skills .skill-items {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  font-size: 2rem;
}

.skills {
  width: 80%;
  margin: 0 auto;
}

.skills .skill-items .item {
  width: 100px;
  aspect-ratio: 1/1;
  margin: 5px;
  padding: 5px;
}

/* contact section */
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form input, .contact form textarea {
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.contact form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
}

footer {
  margin: 30px auto 0;
  min-width: 350px;
  max-width: 1300px;
  background-color: #333;
  height: 70px;
  text-align: center;
  color: white;
  display: flex;
}
footer div {
  margin: auto;
}