/* global.css */
@import-normalize;

:root {
  --primary-color: #333;
  --accent-color: #007bff;
  --success-color: #28a745;
  --min-width: 350px;
  --max-width: 1300px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header, main, footer {
  min-width: var(--min-width);
  margin: 0 auto;
}

header {
  background-color: var(--primary-color);
  padding: 10px 0;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}

footer {
  background-color: var(--primary-color);
  height: 70px;
  text-align: center;
  color: white;
  display: flex;
}
